.header {
	position: absolute;
	top: 4%;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	width: 100vw;
	font-size: 1.125rem;
	z-index: 4;
}

.header__container {
	display: flex;
	flex-direction: row;
	gap: 1.25rem;
	width: 100vw;
	padding: 0 1.25rem;
	justify-content: space-between;
}

.header__main {
	display: flex;
	flex-direction: row;
	width: 60vw;
	justify-content: space-between;
}

.header__link {
	display: flex;
	color: var(--color-white);
	text-decoration: none;
	align-items: center;
}

.header__icon {
	width: 1.375rem;
	height: 1.375rem;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	flex-basis: 94%;
}

.header__section {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

.header__nav .header__section:first-child {
	flex-basis: 13%;
}

.header__nav .header__section:first-child .header__icon {
	width: 0.9375rem;
	height: 0.9375rem;
	margin-right: 0.625rem;
}

.header__nav .header__section:last-child {
	flex-basis: 40%;
}

.header__nav .header__section:last-child {
	flex-basis: 40%;
}

.header__nav .header__section:last-child .header__link {
	margin: 0 0.9375rem;
}

.header__logo {
	font-family: var(--font-logo);
	font-size: 2.8125rem;
	margin-left: 2.5rem;
	white-space: nowrap;
	flex-basis: 6%;
}

.header__link {
	display: flex;
	color: var(--color-white);
	text-decoration: none;
	align-items: center;
}

.header__nav--second .header__link--wrapper .header__link:last-child {
	display: none;
}

.header__link--wrapper {
	width: 8.25rem;
	height: 1.375rem;
	display: flex;
	justify-content: space-between;
}

.header__nav--second {
	gap: 1.6rem;
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
}

.header__nav--second .header__section {
	width: 17.7vw;
}

.header__nav--second .header__section:first-child .header__icon {
	width: 1.8rem;
	height: 1.8rem;
	margin-right: 0.9rem;
}

@media (max-width: 1110px) {
	.header__logo {
		margin-left: 0;
	}
}

@media (max-width: 880px) {
	.header {
		top: 2%;
	}

	.header__container {
		margin-top: 4px;
	}

	.header__main {
		width: auto;
	}

	.header__logo {
		margin-left: 0;
	}

	.header__icon {
		width: 1.5rem;
		height: 1.5rem;
	}

	.header__nav {
		display: none;
	}

	.header__section {
		flex-grow: 0;
	}

	.header__nav--second {
		gap: 0;
		flex-grow: 0;
	}

	.header__link--wrapper {
		width: 100%;
	}

	.header__nav--second .header__link span {
		display: none;
	}

	.header__nav--second .header__section {
		width: auto;
	}

	.header__nav--second .header__section:last-child {
		width: 9.375rem;
	}

	.header__nav--second .header__section:first-child .header__icon {
		margin-right: 1rem;
	}

	.header__nav--second .header__link--wrapper .header__link:last-child {
		display: block;
	}
}

@media (max-width: 420px) {
	.header__container {
		gap: 0;
		padding: 0 1rem;
	}

	.header__logo {
		font-size: 2.063rem;
	}
}
